attrs==20.3.0
Automat==20.2.0
bidict==0.21.2
boto3==1.16.31
botocore==1.19.31
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
configparser==5.0.1
constantly==15.1.0
cryptography==3.3.1
Flask==1.1.2
Flask-Cors==3.0.9
forexconnect==1.6.3
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
numpy==1.19.4
pandas==1.1.5
pendulum==2.1.2
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python-engineio==3.14.2
python-socketio==4.6.1
pytz==2020.4
pytzdata==2020.1
requests==2.25.0
s3transfer==0.3.3
service-identity==18.1.0
shortuuid==1.0.1
six==1.15.0
socketIO-client==0.7.2
Twisted==20.3.0
urllib3==1.26.2
uWSGI==2.0.19.1
websocket-client==0.57.0
Werkzeug==1.0.1
zope.interface==5.2.0